<head>
  <title>resttest</title>
</head>

<body>
  <div class="container">
    <div class="page-header">
      <h1>Tickets <small>Manager</small></h1>
    </div>
    {{> listForm}}

    <div class="row">
      <div class="col-md-12">
        {{> tickets}}
      </div>
    </div>
  </div>
  <hr>
</body>
<template name="listForm">
  <div class="right">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
      <i class="fa fa-chevron-down"></i>
      Filters
    </button>
  </div>
  <div class="collapse" id="collapseFilter">
    <legend>Filters</legend>
    <form id="formListTickets" method="post">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="state">State</label>
            <select class="form-control" id="state" name="state">
              <option value="1">New</option>
              <option value="2">Closed</option>
              <option value="3">Accepted</option>
              <option value="4">In progress</option>
              <option value="5">Host provider contacted</option>
              <option value="6">ISP Contacted</option>
            </select>
          </div>

        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="country">Contry</label>
            <select class="form-control" id="country" name="county">
              <option value="All">All</option>
              <option value="CO">Colombia</option>
              <option value="MX">Mexico</option>
              <option value="US">United States</option>
            </select>
          </div>
          <div class="form-group">
            <label for="attack_type">Attack Type</label>
            <select class="form-control" id="attack_type" name="attack_type">
              <option value="PHARMING">Pharming</option>
              <option value="MALWARE">Malware</option>
              <option value="PHISHING">Phishing Site</option>
              <option value="SIMILAR_DOMAIN">Similar Domain</option>
              <option value="MITM">Man in the Middle</option>
              <option value="CBC">Compromised Banking Cards</option>
              <option value="UNAUTHORIZED_MOBILE_APP">Unauthorized Mobile App</option>
              <option value="UNAUTHORIZED_USE_OF_TRADEMARK">Unauthorized Use of Trademark</option>
              <option value="ASK_DMS">Ask Dms</option>
              <option value="REDIRECT_MALWARE">Redirect to Malware File</option>
              <option value="REDIRECT_PHISHING">Redirect to Phishing Site</option>
              <option value="DATA_CAPTURE">Data Capturing URL</option>
              <option value="PAC_FILE">PAC File</option>
              <option value="COPYRIGHT_INFRI">Copyright Infringement</option>
              <option value="REDIRECT_SITE">Redirect Site</option>
              <option value="INFO_DISCLOSURE">Disclosure of Information</option>
              <option value="OTHER">Other</option>
              <option value="NOT_SET">Not set</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="state">Show</label>
            <select class="form-control" id="show" name="show">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="75">75</option>
              <option value="100">100</option>
              <option value="200">200</option>
            </select>
          </div>
        </div>
      </div>
      <div class="right">
        <button class="btn btn-default" id="clearFormListTickets">
          <i class="fa fa-refresh"></i> Clear
        </button>
        <button type="submit" class="btn btn-success" id="formListTickets">
          <i class="fa fa-search"></i> Search
        </button>
      </div>
    </form>
    <hr>
  </div>

</template>

<template name="tickets">
  <legend>Ticket list</legend>

  {{#with ticketsList}}
    <div class="right">
      <p class="paginator">
        Total records: {{totalRecords}}  <i class="fa fa-chevron-left" data-url="{{links.[1].href}} paginatorBtn"></i> {{from}} | {{to}}<i class="fa fa-chevron-right paginatorBtn" data-url="{{links.[0].href}}"></i>
      </p>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      {{#each data}}
        <div class="ticket panel panel-primary ">
          <div class="panel-heading" role="tab" id="headingOne">
            <h3 class="panel-title">
              <a class="ticketDetails" role="button" data-providers-url="{{links.[3].href}}" data-whois-url="{{links.[2].href}}" data-id="{{ticket.id}}" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ticket.id}}" aria-expanded="true" aria-controls="collapseOne">
                <span class="pull-right state">| {{ticket.state.name}}</span>
                <span class="pull-right creation-date"><i class="fa fa-calendar"></i> {{ticket.creationDate}}</span>
                <i class="fa fa-ticket "></i>
                [{{ticket.publicIdTicket}}] {{ticket.title}}
              </a>
              <span class="label label-default"><i class="fa fa-tag"></i> {{ticket.attackType.label}} </span>
            </h3>
          </div>
          <div id="collapse-{{ticket.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              {{> ticket}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="right">
      <p class="paginator">
        Total records: {{totalRecords}}  <i class="fa fa-chevron-left" data-url="{{links.[1].href}} paginator"></i> {{from}} | {{to}}<i class="fa fa-chevron-right paginator" data-url="{{links.[0].href}}"></i>
      </p>
    </div>
    {{else}}
      <div class="center">
        <p>
          Loading tickets...
        </p>
        <i class="fa fa-spinner fa-pulse fa-4x "></i>
      </div>
    {{/with}}

</template>

<template name="ticket">
  {{pl}}
  <div class="row">
    <div class="col-md-12">
      <legend>Ticket details</legend>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-clock-o blue"></i> <strong>Creation: </strong> {{ticket.creationDate}}</li>
        <li class="list-group-item"><i class="fa fa-clock-o green"></i> <strong>Last Event: </strong> {{ticket.lastEventDate}}</li>
        <li class="list-group-item"><i class="fa fa-clock-o red"></i> <strong>Expire Date: </strong> {{ticket.trackExpireDate}}</li>
        <li class="list-group-item"><i class="fa fa-angle-right"></i> <strong>Track State: </strong> {{ticket.trackState}}</li>
      </ul>
    </div>

    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-angle-right"></i> <strong>Proactive: </strong> {{#if ticket.proactive}}Yes {{else}}No {{/if}}</li>
        <li class="list-group-item"><i class="fa fa-map-marker"></i> <strong>Country: </strong> {{ticket.countryAttack}} </li>
        <li class="list-group-item"><i class="fa fa-link"></i> <strong>URL: </strong> <a href="{{ticket.url}}" class="url">{{ticket.url}}</a> </li>
      </ul>
    </div>
  </div>

  <div class="col-md-12">
    <legend>Providers</legend>
    {{#if ticket.url}}
      {{#if providers ticket.id}}
        <ul class="nav nav-tabs" role="tablist">
          {{#each providers ticket.id}}
            <li role="presentation" class="{{#if equal @index 0}}active{{/if}}"><a href="#{{provider.providerType}}-{{ticket_id}}" aria-controls="raw" role="tab" data-toggle="tab">{{provider.providerType}}</a></li>
          {{/each}}
        </ul>
        <div class="tab-content providers">
          {{#each providers ticket.id}}
              <div role="tabpanel" class="tab-pane {{#if equal @index 0}}active{{/if}}" id="{{provider.providerType}}-{{ticket_id}}">
                {{> providersDetail}}
              </div>
          {{/each}}
        </div>
        {{else}}
          <div class="center">
            <p>
              Loading providers...
            </p>
            <i class="fa fa-spinner fa-pulse fa-4x "></i>
          </div>
        {{/if}}
    {{/if}}
  </div>
</template>

<template name="providersDetail">
  {{#if provider.creationDate}}
    <p>
      <strong>Creation: </strong>{{provider.creationDate}}
    </p>
  {{/if}}
  {{#if provider.name}}
    <p>
      <strong>Name: </strong>{{provider.name}}
    </p>
  {{/if}}
  {{#if provider.creationDate}}
    <p>
      <strong>Creation: </strong>{{provider.creationDate}}
    </p>
  {{/if}}
  {{#if provider.observation}}
    <p>
      <strong>Observation: </strong>{{provider.observation}}
    </p>
  {{/if}}
  <hr>
  <div class="row">
    <div class="col-md-6">

      <h4>Emails:</h4>
      {{#each provider.emails}}
        <p class="detail">
          <i class="fa fa-envelope"></i> {{contact}}
        </p>
      {{else}}
        <p>
          None
        </p>
      {{/each}}
      <form class="form-inline contactForm">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
            <input type="text" class="form-control" name="contact" data-url="{{links.[2].href}}" data-type="EMAIL"  placeholder="New Email" data-providers-url="{{../links.[3].href}}" data-ticket-id="{{../ticket.id}}">
          </div>
        </div>
        <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
      </form>
    </div>
    <div class="col-md-6">

      <h4>Phones:</h4>
      {{#each provider.phones}}
        <p class="detail">
          <i class="fa fa-phone"></i> {{contact}}
        </p>
      {{else}}
        <p>
          None
        </p>
      {{/each}}
      <form class="form-inline contactForm">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-phone"></i></div>
            <input type="text" class="form-control" name="contact" data-url="{{links.[4].href}}" data-type="PHONE" placeholder="New Phone" data-providers-url="{{../links.[3].href}}" data-ticket-id="{{../ticket.id}}">
          </div>
        </div>
        <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">

      <h4>Chats:</h4>
      {{#each provider.chats}}
        <p class="detail">
          <i class="fa fa-comment"></i> {{contact}}
        </p>
      {{else}}
        <p>
          None
        </p>
      {{/each}}
      <form class="form-inline contactForm">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-comment"></i></div>
            <input type="text" class="form-control" name="contact" data-url="{{links.[1].href}}" data-type="CHAT" placeholder="New Chat" data-providers-url="{{../links.[3].href}}" data-ticket-id="{{../ticket.id}}">
          </div>
        </div>
        <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
      </form>
    </div>
    <div class="col-md-6">

      <h4>Websites:</h4>
      {{#each provider.websites}}
      <p class="detail">
        <i class="fa fa-link"></i> {{contact}}
      </p>
      {{else}}
        <p>
          None
        </p>
      {{/each}}
      <form class="form-inline contactForm">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-link"></i></div>
            <input type="text" class="form-control" name="contact" data-url="{{links.[3].href}}" placeholder="New Website" data-providers-url="{{../links.[3].href}}" data-ticket-id="{{../ticket.id}}">
          </div>
        </div>
        <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
      </form>
    </div>
  </div>


</template>
