$red: rgb(191, 4, 49)
$green: rgb(12, 130, 2)
$blue: rgb(19, 108, 176)

.ticket-name
  font-weight: bold

.center
  text-align: center

.right
  text-align: right

.small
  font-size: 13px

.ticket
  .panel-title a:hover, .ticket .panel-title a:active, .ticket .panel-title a:focus
    text-decoration: none
    color: $blue
  .label
    margin-left: 10px
  .creation-date
    margin-left: 10px
  .state
    margin-left: 10px
  .url
    word-break: break-all

.red
  color: $red

.green
  color: $green

.blue
  color: $blue

.btn-full-width
  display: block
  width: 100%

.who-is-value
  white-space: pre-line
  max-height: 400px
  overflow-y: auto

.tab-pane
  margin-top: 15px

.dns .list-group-item
  padding: 5px 15px

.paginator
  font-size: 16px
  i
    margin: 0 10px
    &:hover
      color: rgb(19, 108, 176)
      cursor: pointer

.providers
  .tab-pane
    min-height: 100px
    .detail
      padding-left: 20px
      word-break: break-all
      .fa
        color: $blue
